:root {
  font-size: 10px;
  --golden: #FACD1E;
  --background: #FFF5E6;
  --header_footer: #E5DBB7;
  font-family: "Luxurious Roman", serif;
}

html, body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0; 
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  background-color: var(--header_footer);
  height: 5vh;
}

header, footer {
  vertical-align: center;
}

main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-color: var(--background);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 0 33%;
  font-size: 2.5rem;
  font-weight: bold;
}

input {
  width: 98%;
  height: 4rem;
}

.buttons {
    display: flex;
    flex-direction: row;
}

fieldset {
  margin: 10% 25% 33% 25%;
  border: none;
}

footer {
  display: flex;
  flex-direction: row;
  text-align: right;
  background-color: var(--header_footer);
  width: 100%;
  height: 5vh;
}

.signature {
  margin-left: 1rem;
  font-weight: bold;
}

.submit-button, .reset-button {
  margin: 1rem 1rem;
  width: 10rem;
  height: 5rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: var(--golden);
  border-radius: 12.5px;
}

.submit-button {
    margin-left: 30%
}

.initial-input, .result-field {
  background-color: #fff;
  border: 5px solid var(--golden);
}

h1, .signature {
  margin-left: 2rem;
}